<head>
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <title>{{page.title}}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="index, follow" />
  <meta name="copyright" content="Karnataka Chitrakala Parishath" />
  <meta name="language" content="EN" />
  <meta name="author" content="Karnataka Chitrakala Parishath" />
  <meta name="creationdate" content="December 30, 2019" />
  <meta name="distribution" content="global" />
  <meta name="rating" content="general" />

  <!-- Favicon -->

  <link
    rel="icon"
    type="image/png"
    href="{{'/assets/images/favicon.png' | prepend: site.baseurl}}"
  />

  <link
    rel="stylesheet"
    href="{{'/assets/scss/main.css' | prepend: site.baseurl}}"
  />
</head>
